body {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	font-family: Tahoma, Helvetica, Verdana, sans-serif;
	font-stretch: none;
	font-variant: normal;
	font-size-adjust: none;
	letter-spacing: 0;
}
.regColors {
	border: 1px solid #ddd;
	background: #fafafa;
}
#citNav {
	text-align: center;
	background: url("../images/bannerBack.png") repeat-x;
}
#loginBox.sticky-handle.stick,
#menuBox.sticky-handle.stick {
	top: 0;
	z-index: 10000;
	position: fixed;
}
#loginBox {
	float: left;
	width: 217px;
	height: 120px;
	margin: 0;
	padding: 5px;
	border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
}
#loginForm{
	height: 56px;
	background: #f0f0f0;
	padding-top: 2px;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}
#loginBox label {
}
#loginBox input {
	width: 135px;
	margin-bottom: 4px;
	font-family: tahoma;
	border: 1px solid #ccc;
}
#loginBox input:focus {
	border: 1px solid #ccddff;
}
.formLeft {
	float: left;
	width: 70px;
	margin-left: 2px;
	text-align: right;
}
.formRight {
	float: left;
	width: 138px;
	text-align: left;
	padding-top: 3px;
}
.formItem {
	height: 19px;
	padding-top: 5px;
}
.formBottom {
	clear: both;
	height: 40px;
	padding-top: 10px;
	text-align: center;
}
.formButton {
	float: left;
	text-align: center;
	padding-top: 5px;
}
.formButton button {
	width: 31px;
	height: 31px;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
.buttonText label {
	cursor: pointer;
}
#loginButton,
#homeButton { background: url('../images/home-4.png') 0 0; }
#loginButton:hover,
#homeButton:hover { background: url('../images/home-4.png') 0 -31px; }
#loginButton:active,
#loginButton.active,
#homeButton:active,
#homeButton.active { background: url('../images/home-4.png') -31px 0; }
#loginButton.active:hover,
#homeButton.active:hover { background: url('../images/home-4.png') -31px -31px; }
#registerButton { background: url('../images/sleep-4.png') 0 0; }
#registerButton:hover { background: url('../images/sleep-4.png') 0 -31px; }
#registerButton:active,
#registerButton.active { background: url('../images/sleep-4.png') -31px 0; }
#registerButton.active:hover { background: url('../images/sleep-4.png') -31px -31px; }
#matchesButton { background: url('../images/restart-4.png') 0 0; }
#matchesButton:hover { background: url('../images/restart-4.png') 0 -31px; }
#matchesButton:active,
#matchesButton.active { background: url('../images/restart-4.png') -31px 0; }
#matchesButton.active:hover { background: url('../images/restart-4.png') -31px -31px; }
#logoutButton { background: url('../images/shutdown-4.png') 0 0; }
#logoutButton:hover { background: url('../images/shutdown-4.png') 0 -31px; }
#logoutButton:active,
#logoutButton.active { background: url('../images/shutdown-4.png') -31px 0; }
#logoutButton.active:hover { background: url('../images/shutdown-4.png') -31px -31px; }
.buttonText {
	float: left;
	text-align: center;
}
.twoCols {
	width: 50%;
}
.threeCols {
	width: 33.3333%;
}
#menuBox {
	float: left;
	width: 217px;
	height: 60px;
	margin: 0;
	padding: 5px;
	border-radius: 0 0 15px 15px;
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
}
#mainBody {
	left: 235px;
	padding: 5px;
	position: absolute;
	min-width: 600px;
	max-width: 900px;		
}
.profilePage {
	width: 100%;
}
.profilePage .leftSide {
	float: left;
	width: 69%;
	border-right: 1px solid #ddd;
}
.profilePage .rightSide {
	float: left;
	width: 29%;
	border: 0;
	padding-left: 1%;
}
.profilePage .rightSide > div:first-child {
	text-align: center;
	margin-bottom: 3px;
}
.profilePage .rightSide a.job {
	height: 40px;
	margin: 2px auto;
	display: block;
	font-size: 14px;
}
.profilePage .rightSide .job .jobTitle {
	height: 15px;
	overflow: hidden;
	padding-top: 5px;
}
.profilePage .rightSide .job .jobDescription {
	color: #000;
	height: 17px;
	overflow: hidden;
	margin-top: 5px;
}
.profileImage {
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 4px;
	background: url('../images/empty-100.png');
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.profilePage .profileName {
	float: left;
	height: 30px;
	font-size: 14pt;
	margin-top: 70px;
	padding-left: 10px;
}
.profilePage .profileContact {
	clear: both;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.profilePage .profileAbout {
	padding: 10px;
}
.profilePage .studentSkills .skill {
	float: left;
}
.rightSide .top {
	padding: 5px 0 3px 0;
	background: #ccf;
	font-weight: bold;
}
.rightSide .top a {
	float: right;
	font-weight: normal;
}
.job {
	color: #000;
	height: 101px;
	border: 1px solid #ddd;
	padding: 4px;
	display: block;
	overflow: hidden;
	margin-bottom: 5px;
	text-decoration: none;
	background-color: #f0f0f0;
	box-shadow: -3px -3px 20px rgba(0, 0, 0, 0.25) inset;
	-moz-box-shadow: -3px -3px 20px rgba(0, 0, 0, 0.25) inset;
	-webkit-box-shadow: -3px -3px 20px rgba(0, 0, 0, 0.25) inset;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.job:hover {
	background-color: #e0e0e0;
}
.jobInfo {
	margin: auto;
	padding: 0;
	display: block;
}
.rightSide {
	float: right;
	width: 150px;
	margin-left: 4px;
	border-left: 1px solid #ddd;
}
.full.rightSide {
	width: 25%;
	padding: 20px 0;
}
.jobHeader {
	color: #fff;
	height: 25px;
	padding: 5px 0 0 5px;
	background: #036;
}
.jobTitle {
	color: #036;
	height: 25px;
	font-size: 16px;
	font-weight: bold;
	margin-top: -5px;
	text-align: center;
}
.full .jobTitle {
	margin-top: 20px;
	font-size: 22px;
}
.jobDescription {
	text-align: left;
	text-overflow: ellipsis;
}
.full .jobDescription {
	margin-top: 30px;
}
.partial .jobDescription {
	height: 60px;
	overflow: hidden;
}
.position {
	color: #036;
	font-size: 14pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
}
.company {
	text-align: left;
	font-size: 13pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
}
.full .company {
	padding-top: 10px;
}
.hours {
	text-align: center;
}
.partial .hours {
	height: 40px;
	overflow: hidden;
}
.wage {
	text-align: center;
}
.partial .wage {
	height: 35px;
	overflow: hidden;
	margin-bottom: 5px;
}
.email {
	height: 40px;
}
.phone {
	height: 40px;
}
.date {
	padding: 3px 0 0 5px;
	overflow: hidden;
	text-align: left;
}
.rightSide .bold {
	font-weight: bold;
	margin-bottom: 2px;
}
.full .tall {
	margin: 10px 0;
}
#jobEditForm {
	text-align: center;
}
#jobEditForm .leftJust {
	text-align: left;
}
#jobEditForm .rightJust {
	text-align: right;
}
#jobEditForm .row .leftSide {
	float: left;
}
#jobEditForm .row .leftSide label {
	display: block;
	padding: 5px 0 2px 0;
	text-align: right;
}
#jobEditForm .row .rightSide {
	float: left;
}
#jobEditForm .row .rightSide label {
	float: left;
}
#jobEditForm .row .rightSide input {
	display: block;
	text-align: left;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.jobSkills {
	padding-top: 10px;
}
.jobSkills h4 {
	font-size: 14px;
}
.sub {
	text-align: left;
}
#form_container {
	text-align: center;
}
#form_container table {
	width: 400px;
}
#form_container .labels {
	width: 200px;
	text-align: right;
}
#form_container .inputs {
	width: 300px;
	text-align: left;
}
#form_container .radios {
	top: 23px;
}
#form_container #register_button {
}
.jobControls {
	margin-bottom: 5px;
}
.jobControls a {
	margin: 0 5px;
}
